* {
 margin: 0;
 padding: 0;
 box-sizing: berder-box;
}

html {
 font-size: 16px;
}

body {
 font-family: Helvetica Neue, Arial;
 font-size: 1.125em;
 font-family: Helvetica Neue, Arial;
}

h1, h2 {
 color: rgb(33, 158, 168);
 
}

h2 {
 font-size: 1.5625em;
 margin-bottom: 10px;
}

h1 {
 font-size: 2.5em;
 margin-bottom: 20px;
}

.main-text {
  text-align: justify;
  margin-bottom: 20px;
}

.author-text {
  font-size: 1.375em;
}


